
 /* =====> CUSTOM CLASSES */
.hidden {
  visibility: collapse;
}

.titletext {
  font-family: monospace;
}
/* <===== */


/* =====> QUARTO CLASSES */
body {
  text-align: justify;
}
.page-columns .content {
  margin-left: 5%;
  margin-right: 5%;
}
#quarto-sidebar {
  width: 125%;
  margin-right: 120%;
}
/* #quarto-content {
  align-content: center;
} */
.sidebar{
  font-family: yomogi;
  text-align: left;
}
.math.inline {
  font-size: 110% !important;
  font-family: notosans-math;
}
/* <===== */


/* =====> FONTS */
@font-face {
  font-family: yomogi;
  src: url(fonts/Yomogi/Yomogi-Regular.ttf);
}
@font-face {
  font-family: kleeone;
  src: url(fonts/Klee_One/KleeOne-Regular.ttf);
}
@font-face {
  font-family: kleeone-semibold;
  src: url(fonts/Klee_One/KleeOne-SemiBold.ttf);
}
@font-face {
  font-family: dotgothic16;
  src: url(fonts/DotGothic16/DotGothic16-Regular.ttf);
}
@font-face {
  font-family: notosans-math;
  src: url(fonts/Noto_Sans_Math/NotoSansMath-Regular.ttf);
}
/* <===== */